@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@layer base{
    body{
        @apply font-[Raleway]
    }

    li{
        @apply px-4;
        @apply cursor-pointer
    }
}



.content{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 420px;
}

.logo{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}
.content-div:hover{
    background-image: linear-gradient(
        to right,
        rgba(20, 20, 36, 0.8),
        hsla(240, 1%, 29%, 0.8)  
    ) !important;    
}

.slider{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.771) ;
    z-index: 999;
    display: flex;
    align-items: center;
}

.slideWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideImg{
    width: 35%;
    height: 80vh;
    margin-top: 5%;
    margin-bottom: 8%;
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: lightgrey;
    cursor: pointer;
}

.arrow{
  margin-left: 65px;
  margin-right: 20px;
  font-size: 50px;
  color: lightgrey;
  cursor: pointer;


}



